<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://use.typekit.net/ocf5mhq.css" />
		<link rel="stylesheet" href="./inventory/css/styles.css" />
		<script src="./inventory/js/main.js"></script>
		<title>Welcome</title>
	</head>
	<body>
		<div class="nav">
			<img class="icon" src="./assets/icon.png" />
			<span id="name">ex<span style="color: red">pi</span>red.</span>
		</div>
        <span class="inventory">inventory</span>
		<div class="search-ctn">
        	<input type="text" class="search" placeholder="Search..." />
			<img class="search-icon" src="./assets/search.png" />
		</div>
		</div>
	</body>
</html>
