<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>

<body>
    <header>Login</header>
    <div id="login">
        <form class="user" action="/login" enctype="multipart/form-data" method="post">
            <input class="" type="text" id="email" placeholder="Email"
                name="email" required>
            <input class="" type="password" id="password" placeholder="Password"
                name="password" required>
            <button class="" type="submit">Login</button>
            <p>Dont have an account? <button id="signUp">Sign Up</button></p>
        </form>
    </div>
    
    <div id="register">
        <form class="user" action="/register" enctype="multipart/form-data" method="post">
            <input class="" type="text" id="name" placeholder="Name" name="name"
                required>
            <input class="" type="email" id="email" placeholder="Email"
                name="email" required>
            <input class="" type="password" id="password" placeholder="Password"
                name="password" required>
            <button class="" type="submit">Finish Sign Up</button>
    </div>
    </form>
    <script src=""></script>
</body>

</html>