<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="../statics/css/login.css" />
		<link rel="stylesheet" href="https://use.typekit.net/ocf5mhq.css" />
	</head>

	<body>
		<div id="register">
			<span id="title">Register</span><br /><br />
			<form
				class="user"
				action="/users/register"
				enctype="multipart/form-data"
				method="post"
			>
				<input
					class=""
					type="text"
					id="name"
					placeholder="Name"
					name="name"
					required
				/><br /><br />
				<input
					class=""
					type="email"
					id="email"
					placeholder="Email"
					name="email"
					required
				/><br /><br />
				<input
					class=""
					type="password"
					id="password"
					placeholder="Password"
					name="password"
					required
				/><br /><br />
				<button class="" type="submit">Register</button>
				<p>
					Already have an account?
					<a id="signUp" href="./login.html"> Log in </a>
				</p>
			</form>
		</div>
		<script src=""></script>
	</body>
</html>
