<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://use.typekit.net/ocf5mhq.css" />
		<link rel="stylesheet" href="../statics/css/upload.css" />
		<title>Upload</title>
	</head>
	<body>
		<div class="container">
			<div class="img-container" style="
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
			">
				<img id="img" style="max-width: 80%; max-height: 50%;
				margin: 1vw;"/>
			</div>
			<form action="/api/upload" enctype="multipart/form-data" method="post" style="
					display: flex;
					flex-direction: column;
					align-content: center;
					align-items: center;
					justify-content: center;
				">
			<img id="img"/>
			<form
				action="/api/upload"
				enctype="multipart/form-data"
				method="post"
				id="form"
			>
				<label for="file" class="file-upload"> Choose File </label>
				<input id="file" name="file" type="file" /><br />
				<label for="submit" class="submit"> Submit </label>
				<input id="submit" type="submit" />
			</form>
			<script src="../statics/js/upload.js"></script>
		</div>
	</body>
</html>
