<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://use.typekit.net/ocf5mhq.css" />
		<link rel="stylesheet" href="../statics/css/upload.css" />
		<title>Upload</title>
	</head>
	<body>
		<div id="upload-ctn">
			<form
				action="/api/upload"
				enctype="multipart/form-data"
				method="post"
			>
				<label for="file-upload" class="file-upload">
					<input name="file" type="file" /><br />
					Upload File </label
				><br /><br />
				<label for="submit" class="submit-file-upload">
					<input type="submit" />
					Submit
				</label>
				<div id="dashed"></div>
			</form>
		</div>
	</body>
</html>
