<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://use.typekit.net/ocf5mhq.css" />
		<link rel="stylesheet" href="../statics/css/upload.css" />
		<title>Upload</title>
	</head>
	<body>
		<div class="container">
			<form
				action="/api/upload"
				enctype="multipart/form-data"
				method="post"
			>
				<label for="file" class="file-upload"> Choose File </label>
				<input id="file" name="file" type="file" /><br />
				<label for="submit" class="submit"> Submit </label>
				<input id="submit" type="submit" />
			</form>
		</div>
	</body>
</html>
